{% set title = "Rust Job board using Rocket" %}
{% include "incl/header" %}


Hello <b>{{ name }}!</b>


{% for job in jobs %}
    <li><a href="/job/{{job.id}}">{{job.title}}</a></li>
{% endfor %}

{% include "incl/footer" %}
